.private-room-container {
    width: 100%;
    display: none;
}

table {
    width: 100%;
    border-spacing: 60px;
}

input[type=range], select, textarea {
    width: 100%;
    margin-top: 10px;
}

select {
    padding: 5px 0;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: none;
}

.custom-words-label {
    font-size: 14px;
}

.invite-link-container {
    width: 100%;
    padding: 0 60px;
}

.invite-link-container input {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

.play-btn {
    width: 100%;
    font-size: 28px;
    padding: 5px 0;
    border-radius: 5px;
    border: none;
    background: #53e237;
    font-weight: bold;
}

.play-btn:hover {
    cursor: pointer;
    background-color: rgba(83, 226, 55, 0.8);
}